:root {
  color-scheme: dark light;
  --background: color-mix(in oklab, white 5%, canvas);
  --foreground: color-mix(in oklab, white 20%, canvastext);
  --accentBackground: color-mix(in oklab, springgreen 15%, transparent);
  --accentBlob: color-mix(in oklab, springgreen 10%, transparent);
  --accentForeground: color-mix(in oklab, springgreen 70%, canvastext);
  --border: hsl(0 0% 50% / 20%);
}

* {
  box-sizing: border-box;
  margin: unset;
  padding: unset;
  border: unset;
  outline: unset;
  background: unset;
  color: inherit;
  font: inherit;
}

body {
  accent-color: var(--accentForeground);
  background: var(--backround);
  color: var(--foreground);
  font:
    200 max(16px, 1rem) / 1.5 ui-sans-serif,
    system-ui,
    sans-serif;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1;
  text-wrap: balance;
}

a {
  color: var(--accentForeground);
  font-weight: 500;
  text-decoration: none;
}

a:is(:active, :hover, :focus-visible) {
  text-decoration: underline;
}

button {
  border-radius: 3em;
  background: var(--accentBackground);
  color: var(--accentForeground);
  cursor: pointer;
  font-weight: 500;
  touch-action: manipulation;
  -webkit-user-select: none;
  user-select: none;
}

button:focus-visible {
  outline: 2px solid;
  outline-offset: 2px;
}

button:disabled {
  cursor: not-allowed;
  opacity: 50%;
}
